Language: C
BasedOnStyle: LLVM

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false

PointerAlignment: Right

AlignAfterOpenBracket: Align

BreakBeforeBraces: Linux

IndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true

SpaceAfterCStyleCast: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false

AlwaysBreakAfterReturnType: None
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
